<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">网站后台管理</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" th:href="@{/layui-v2.5.5/css/layui.css}" media="all" />
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <section th:remove="tag" layout:fragment="nav">
                <div class="layui-header">
                    <div class="layui-logo" >
                        网站后台管理
                    </div>
                    <ul class="layui-nav layui-layout-right" sec:authorize="isAuthenticated()">
                        <li class="layui-nav-item">
                            <a href="javascript:;">
                                <span sec:authentication="principal.userDto.nickname"></span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="">基本资料</a></dd>
                                <dd><a href="">安全设置</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item"><a href="" th:href="@{/logout}">退出</a></li>
                    </ul>
                </div>
            </section>
            <section th:remove="tag" layout:fragment="content">
                <!-- body区域 -->
            </section>
            <section th:remove="tag" layout:fragment="footer">
                <!-- footer区域 -->
                <footer>
                    <div class="layui-footer" style="left:0;text-align: center;">
                        <!-- 底部固定区域 -->
                        <div class="layui-row">
                            <div class="layui-col-sm12 layui-col-md12">
                                © zhuqiaolun.com - 底部固定区域
                            </div>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
        <script th:src="@{/jquery/jqthumb.js}"></script>
        <script th:src="@{/layui-v2.5.5/layui.all.js}"></script>
        <script th:src="@{/js/common.js}"></script>
        <section th:remove="tag" layout:fragment="script"><!-- script区域 --></section>
    </body>
</html>