<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/root.html">
<head>
    <title>登录</title>
    <base th:href="@{/}">
    <link rel="stylesheet" href="" th:href="@{css/login.css}" media="all"/>
    <style>
        /* 覆盖原框架样式 */
        .layui-elem-quote{background-color: inherit!important;}
        .layui-input, .layui-select, .layui-textarea{background-color: inherit; padding-left: 30px;}
    </style>
</head>
<body>
<section layout:fragment="content" th:remove="tag">
    <!-- Head -->
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm12 layui-col-md12 zyl_mar_01">
                <blockquote class="layui-elem-quote" style="padding: 0 0 0 15px;">
                    <div class="layui-inline">
                        <img src="" th:src="@{/images/favicon.ico}" alt="后台登陆界面" class="layui-circle" width="45" height="45">
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- Head End -->

    <div class="layui-row">
        <div class="layui-col-sm12 layui-col-md12">
            <div class="zyl_login_cont"></div>
        </div>
    </div>

    <!-- LoginForm -->
    <div class="zyl_lofo_main">
        <fieldset class="layui-elem-field layui-field-title zyl_mar_02">
            <legend>欢迎登陆 - XX管理平台</legend>
        </fieldset>
        <div class="layui-row layui-col-space15">
            <form class="layui-form zyl_pad_01" method="post" th:action="@{/login/auth}">
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="账号" class="layui-input">
                        <i class="layui-icon layui-icon-username zyl_lofo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="password" name="password" lay-verify="required" autocomplete="off" placeholder="密码" class="layui-input">
                        <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                    </div>
                </div>
                <!--<div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-row">
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <div class="layui-form-item">
                                <input type="text" name="vercode" id="vercode" lay-verify="required" autocomplete="off" placeholder="验证码" class="layui-input" maxlength="4">
                                <i class="layui-icon layui-icon-vercode zyl_lofo_icon"></i>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <div class="zyl_lofo_vercode zylVerCode" onclick="zylVerCode()"></div>
                        </div>
                    </div>
                </div>-->
                <div class="layui-col-sm12 layui-col-md12">
                    <button class="layui-btn layui-btn-fluid" lay-submit="loginForm" lay-filter="loginForm">立即登录</button>
                </div>
                <div class="layui-form-item" th:if="${param.error}" style="color: red">
                    <label class="layui-form-label"></label>
                    <div class="layui-form-mid layui-word-aux">
                        <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- LoginForm End -->
</section>

<section layout:fragment="footer" th:remove="tag">
    <!-- Footer -->
    <footer>
        <div class="layui-footer" style="left:0;text-align: center;background-color: transparent;">
            <div class="layui-row">
                <div class="layui-col-sm12 layui-col-md12">
                    © zhuqiaolun.com - 底部固定区域
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</section>
<section layout:fragment="script" th:remove="tag">
    <!-- Jqarticle Js -->
    <script th:src="@{/js/jparticle.min.js}"></script>
    <script>
        //JavaScript代码区域
        layui.use(['form'], function(){
            var $ = layui.$, form = layui.form ;
            zylVerCode();
            //提交 - 操作
            form.on('submit(loginForm)', function (data) {
                console.log(data.field);
            });
            //粒子线条
            $(".zyl_login_cont").jParticle({
                background: "rgba(0,0,0,0)",//背景颜色
                color: "#fff",//粒子和连线的颜色
                particlesNumber:30,//粒子数量
                //disableLinks:true,//禁止粒子间连线
                //disableMouse:true,//禁止粒子间连线(鼠标)
                particle: {
                    minSize: 1,//最小粒子
                    maxSize: 3,//最大粒子
                    speed: 10//粒子的动画速度
                }
            });
        });
    </script>
</section>
</body>
</html>